@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


* {
    padding:0;
    margin:0;
}

body{
    background-image: url("sushibackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;
    gap:80px
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
    width: 470px;
}

.hidden{
    display: none;
}

img {
    width: 150px;
    height: auto;
}

.title, .title2, .title3{
    font-size: 78px;
    font-weight: 600;
}

.text {
    font-size: 20px;
    text-align: center;
}

.onglet{
    width: 380px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 30px;
    cursor: pointer;
}

.onglet>div>img{
    width: 70px;
    height: auto;
    padding-top: 7px;
}

.onglet>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


